@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <h3>Select Adult or Child</h3>

    <a asp-controller="Home" asp-action="Burials" asp-route-adult="" asp-route-pageNum="1"
       asp-route-headdir="@ViewBag.SelectedHeadDirection" asp-route-sex="@ViewBag.SelectedSex"
    class="btn btn-outline-secondary">All</a>

    @foreach (string c in Model)
    {
        <a asp-controller="Home" asp-action="Burials" asp-route-adult="@c" asp-route-pageNum="1" 
        asp-route-headdir="@ViewBag.SelectedHeadDirection" asp-route-sex="@ViewBag.SelectedSex"
           class="btn @(ViewBag.SelectedAdult == c ? "btn-primary": "btn-outline-secondary")">@c</a>
    }
</div>