@{
    ViewData["Title"] = "Burials Page";
}
@model BurialViewModel
<div class="row">
<div id="sex" class="col-3">
    <vc:sex></vc:sex>
</div>
<div class="col">
    <div class="text-center">
        <h1 class="display-4 text-monospace text-primary">Welcome</h1>
    </div>
    @foreach (Burialmain b in Model.Burialmains)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>
                    @b.Id
                    <span class="badge badge-pill badge-primary" style="float:right">
                        <small>@b.Sex</small>
                    </span>
                </h4>
            </div>
            <div class="card-text p-1">Sex: @b.Sex</div>
            @*    <div class="card-text p-1">Publisher: @Model.Publisher</div>
        <div class="card-text p-1">Category: @Model.Category</div>
        <div class="card-text p-1">Number of Pages: @Model.PageCount</div>
        <div class="card-text p-1">ISBN: @Model.Isbn</div>
        <form method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
        <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
        </form>*@
        </div>
    }



    <div page-nav="@Model.PageInfo" page-action="Burials" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group font-weight-light btn-group-lg m-1"></div>
    </div>
</div>